$gradientColor: rgba(255, 255, 255, 0);
$ellipse: 25%;

.layoutWrapper {
  &::before {
    z-index: 0;
    background: radial-gradient(
        circle at 5% 50%,
        theme('colors.primary.400/50'),
        $gradientColor $ellipse
      ),
      radial-gradient(
        circle at 90% 15%,
        theme('colors.lime.400/50'),
        $gradientColor $ellipse
      );
  }
}
