@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  scroll-behavior: smooth;
  @apply font-sans text-gray-900;
}

*:focus {
  outline: transparent;
}

[cmdk-overlay][data-state='open'] {
  @apply fixed inset-0 animate-opacity bg-gray-500/75 z-10;
}
